<!DOCTYPE html>
<html>
<head>
  <title>WdiEcommerce</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

Ecommerce site! <br>
<%= link_to "Home", root_path%>
<%= link_to "About", items_about_path%>

<hr>
<%= yield  %>
<br>
Copyright &nbsp; &copy; Jess

</body>
</html>
