
<!-- STEP F --> 
<%if current_user%>
	You are logged in as <%= current_user.name if current_user %>
<!-- STEP G --> 
	<%= link_to 'LOG OUT!', logout_path, method: :delete %>

<!-- STEP H -->
<%else %>
	<%= link_to 'SIGN UP', users_new_path %>
	<%= link_to 'LOG IN!', login_path%>
<%end%>



<h1>All Users!</h1> 

<% @users.each do |user| %>
	<%= user.name %>


<%end%>

<!-- #STEP 5, we need to list each user, so we iterate each user name with this ruby fct